<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tipcalculator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TipMainActivity"
          
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
			android:label="ODU Tip Calculator"
			android:name=".TipActivity" >
            <intent-filter >
				<action android:name="com.example.TipActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:label="About Us"
			android:name=".Aboutus" >
            <intent-filter >
				<action android:name="com.example.Aboutus" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:label="History Activity"
			android:name=".HistoryActivity" >
            <intent-filter >
			<action android:name="com.example.HistoryActivity" />
			<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
            android:name=".TipMainActivity1"
          
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.TipMainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<activity
            android:name=".AlarmActivity"
          
            android:label="ODU Tipcalculator - Settings" >
            <intent-filter>
                <action android:name="com.example.AlarmActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name="AntiTheftService"></service>
        <activity android:name="EnterCode"></activity>
    </application>

</manifest>
